# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.idea
# Virtual environment
.venv/
env/
venv/

# Environment variables and secrets
.env
app_pass
chat_memory.db


# OS-specific files
.DS_Store
Thumbs.db
